[submodule "submodules/janitor"]
	path = submodules/janitor
	url = https://github.com/hvadhedderde/janitor.git
[submodule "submodules/jes"]
	path = submodules/jes
	url = https://github.com/hvadhedderde/jes.git
